*, ::after, ::before {
    box-sizing: border-box;
}

.container {
    position: relative;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -200px; 
    z-index: 1;
}

h2{
    font-size: 40px;
    margin-bottom: 20px;
    color: #1d3557;
}

.content {
    box-shadow: 0 10px 30px rgba(44, 43, 43, 0.115);
    background-color: #ffffff;
    border-radius: 5px;
    padding: 50px;
}

.title {
    color: #df3946;
    display: block;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
}

.personal-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.text-name, .text-email, .text-num {
    position: relative;
    flex: 1;
    min-width: 300px;
}

.message {
    position: relative;
    margin-bottom: 20px;
}

input[type="text"], input[type="email"], input[type="number"] {
    width: 100%;
    padding: 15px 15px 15px 60px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.enquiry-form .icon {
    position: absolute;
    top: 44%;
    transform: translateY(-50%);
    color: #df3946;
    font-size: 20px;
}

.separator {
    position: absolute;
    left: 40px;
    top: 40%;
    transform: translateY(-50%);
    color: #df3946;
    font-size: 20px;
    pointer-events: none;
}

.enquiry-button {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Center button horizontally */
}

.enquiry-button button {
    height: 50px;
    width: 190px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #c03535e2;
    color: #ffffff;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 600;
    position: relative;
}

.icon--circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 13px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3f41bff0;
    color: #ffffff;
}

.enquiry-button button:hover {
    background-color: #3914f6;
    color: rgb(255, 255, 255);
}

.enquiry-button button:hover .icon--circle {
    background-color: #f8f6fb;
    color: #4d08ed;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1920px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1740px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 1560px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 1320px;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 1140px;
    }
}
