* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.contact-info {
  height: 4rem;
  display: grid;
  grid-template-columns: 7rem 2fr 2fr 7rem;
  align-items: center;
  font-size: 15px;
}

.info {
  grid-column: 2/3;
  display: flex;
  justify-content: start;
  align-items: center;
}

.icon{
  margin: 0 10px;
}

.info h3 {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.social {
  grid-column: 3/4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social a {
  font-size: 20px;
  color: #fff;
}

@media (max-width: 1000px) {
  .social {
    display: none;
  }

  .info {
    grid-column: 1/-1;
    font-size: 12px;
    justify-content: center; 
  }
}

.main-nav{
  width: 100%;
  height: 4.5rem;
  display: grid;
  grid-template-columns: 7rem 0.4fr 2fr 7rem;
  align-items: center;
  background-color: rgba(250, 250, 250, 0.104);
}

.logo{
  grid-column: 2/3;
  display: flex;
  justify-content: start;
  align-items: center;
}

.logo img {
  width: 8rem; 
  height: 4rem; 
} 

.menu-link {
  grid-column: 3/4;
  font-size: 20px;
}

.menu-link ul{
  height: 4.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-link a {
  text-decoration: none;
  color: #fff;
}

.menu-link a:hover {
  color: #ddd;
}


.menu-icons {
  grid-column: 3/4;
  display: none;
  justify-self: end;
  align-items: center;
}

.menu-icons svg {
  width: 25px; 
  height: 25px; 
  cursor: pointer;
}

@media (max-width: 1020px) {
  .menu-link {
    display: none; 
  }

  .menu-icons {
    display: block; 
  }
}


@media (max-width: 1300px) {
  .main-nav {
    grid-template-columns: 1rem 0.4fr 2fr 1rem; 
  }

  .menu-link {
    font-size: 15px;
  }

}

/* .menu-link.open {
  display: grid; 
  grid-row: inherit;
  animation: slideDown 0.5s ease-in-out;
  background-color: #fff;
}

.menu-link.open a{
  color: black;
} */






