/* AdminPanel.css */

.admin-nav-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: black;
}

.admin-nav-heading {
  margin-bottom: 20px;
  font-size: 24px;
}

.navbar-item-list {
  list-style-type: none;
  padding: 0;
}

.navbar-item-list li {
  margin-bottom: 10px;
}

.navbar-item-list li button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-item-list li button:hover {
  background-color: #c82333;
}
