/* Login.css */

.login-container {
  width: 300px;
  margin: 0 auto;
  background-color: black;
}

.login-form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form label {
  display: block;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}
