

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 170vh;
    color: #fff;
  }

  @media (max-width: 600px) {
    html{
      width: fit-content;
    }
  }

  .login-container .background1,
.login-container .background2,
.login-container .background3,
.admin-panel .background1,
.admin-panel .background2,
.admin-panel .background3 {
    display: none; 
}

.login-container body,
.admin-panel body {
    background: #f2f2f2; 
    height: 100vh; 
}