

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    max-height: 170vh;
    color: #fff;
  }

  @media (max-width: 600px) {
    html{
      width: fit-content;
    }
  }


<<<<<<< HEAD
/* .login-container body,
.admin-panel body {
    background: #f2f2f2; 
    height: 100vh; 
} */
=======

>>>>>>> 0fb6adfba33deca860d60a1b1b9184ba35340f68
