*{
  font-family: system-ui, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    max-height: 160vh;
    color: #fff;
  }

  @media (max-width: 600px) {
    html{
      width: fit-content;
    }
  }


